# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o


# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib


# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a


# Executables
*.exe
*.out
*.app

Chess 3.0/.vs/
Chess 3.0/Chess/Debug/
Chess 3.0/Debug/
Chess 3.0/Chess/Release/_IsIncrementalBuild
Chess 3.0/Chess/Release/Board.obj
Chess 3.0/Chess/Release/Chess.exe.recipe
Chess 3.0/Chess/Release/Chess.iobj
Chess 3.0/Chess/Release/Chess.ipdb
Chess 3.0/Chess/Release/Chess.log
Chess 3.0/Chess/Release/Chess.tlog/Chess.lastbuildstate
Chess 3.0/Chess/Release/Chess.tlog/CL.command.1.tlog
Chess 3.0/Chess/Release/Chess.tlog/CL.read.1.tlog
Chess 3.0/Chess/Release/Chess.tlog/CL.write.1.tlog
Chess 3.0/Chess/Release/Chess.tlog/link-cvtres.read.1.tlog
Chess 3.0/Chess/Release/Chess.tlog/link-cvtres.write.1.tlog
Chess 3.0/Chess/Release/Chess.tlog/link-rc.read.1.tlog
Chess 3.0/Chess/Release/Chess.tlog/link-rc.write.1.tlog
Chess 3.0/Chess/Release/Chess.tlog/link.command.1.tlog
Chess 3.0/Chess/Release/Chess.tlog/link.read.1.tlog
Chess 3.0/Chess/Release/Chess.tlog/link.write.1.tlog
Chess 3.0/Chess/Release/Chess.tlog/unsuccessfulbuild
Chess 3.0/Chess/Release/ChessPlayer.obj
Chess 3.0/Chess/Release/Game.obj
Chess 3.0/Chess/Release/Gameplay.obj
Chess 3.0/Chess/Release/GameStatus.obj
Chess 3.0/Chess/Release/main.obj
Chess 3.0/Chess/Release/Model.obj
Chess 3.0/Chess/Release/Move.obj
Chess 3.0/Chess/Release/Piece.obj
Chess 3.0/Chess/Release/Square.obj
Chess 3.0/Chess/Release/stb_image.cpp.obj
Chess 3.0/Release/Chess.pdb
Chess 3.0/Release/freeglut.dll
